01-docker-teraform/2_docker_sql/ny_taxi_postgres_data
.vscode
01-docker-teraform/2_docker_sql/yellow_tripdata_2021-01.parquet
01-docker-teraform/2_docker_sql/yellow_tripdata_2021-01.csv
01-docker-teraform/2_docker_sql/head.csv
01-docker-teraform/2_docker_sql/taxi+_zone_lookup.csv
01-docker-teraform/2_docker_sql/output.csv
01-docker-teraform/2_docker_sql/output.parquet

keys/
../../*.teraform
*.teraform
01-docker-teraform/2_docker_sql/.terraform.lock.hcl
01-docker-teraform/2_docker_sql/.terraform/
01-docker-teraform/2_docker_sql/terraform.tfstate
01-docker-teraform/2_docker_sql/terraform.tfstate.backup
01-docker-teraform/2_docker_sql/data_raw
# *teraform
project-de-pnt-53fe3ecff7b7.json
02-orchestration/mage_tool/project-de-pnt-53fe3ecff7b7.json
# *yellow_tripdata_2021-01.parquet
# *ny_taxi_postgres_data
note.txt
02-orchestration/mage_tool/mage_data/magic-zoomcamp/pipelines/gcs_to_bigquery/.logs/*
02-orchestration/mage_tool/mage_data/magic-zoomcamp/pipelines/*/.variables/transform_taxi_data/
02-orchestration/mage_tool/mage_data/magic-zoomcamp/.cache/*
*.logs/*.log
*.log

05-Batch-processing/fhvhv_tripdata_2021-01.csv
05-Batch-processing/zones
05-Batch-processing/taxi_zone_lookup.csv
05-Batch-processing/head.csv
05-Batch-processing/fhvhv
05-Batch-processing/data
05-Batch-processing/lib
